* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    scroll-behavior: smooth;
}


body {
    font-family: "PT Sans", helvetica, sans-serif;
    min-height: 100vh;
}

h2 {
    text-transform: uppercase;
}

/* main section*/


#mongo-img {
    width: 100px;
    height: auto;
}

#express-img {
    width: 100px;
    height: auto;
}




/* contact form */

section #contact-form {
    width: 40%;
    margin-left: 30%;
}

input[type=text], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid var(--dark-color);
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

/* contact form submit button  */



button:hover {
    background-color: #45a049;
    text-transform: uppercase;
  }

/* footer */

footer {
    margin-top: 2rem;
    width: 100%;
    min-height: 200px;
    background-color: var(--dark-color);
    color: var(--light-color);
    padding: 2rem;
    position: relative;
}

.ft-main {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.ft-main-item a:hover i {
    color: white;
}

img .skills-image {
    width: 50px;
    height: 50px;
}


/* button to scroll back to the top of the page  */

.scroll-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
}

.scroll-top i:hover {
    cursor: pointer;
}

.scroll-top i {
    /* color: var(--dark-color);
    background-color: var(--light-color); */
    width: 3rem;
    height: 3rem;
    font-size: 1rem;
    padding: 1rem 1rem;
    border-radius: 5px;
}
