* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

:root {
    --background-color: #f6f6f6;
    /* --background-light: #b00de2; */
    /* --dropdown-background: #dc75fb; */
    /* --background-image: linear-gradient(to right, purple, violet); */
    --light-color: #FFF;
    --dark-color: #333;
}

p {
    line-height: 1.5;
}

body {
    font-family: "PT Sans", helvetica, sans-serif;
    background-color: var(--background-color);
}

a {
    color: var(--dark-color);
    text-decoration: none;
}
h1, h2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

h1 span {
    border-bottom: 2px solid var(--dark-color);
}

h2 span {
    border-bottom: 2px solid var(--dark-color);
}

header {
    background-color: var(--background-color);
    color: var(--dark-color);
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 2px solid transparent;
    box-shadow: 2px 2px 2px var(--dark-color);
}

header .logo p {
    font-size: 2rem;
}

header .icon {
    display: none;
}

header nav ul {
    position: relative;
}

header nav ul li {
    display: inline-block;
    list-style-type: none;
}

header nav ul li a {
    padding: 1rem;
}
/* 
header nav ul li a:hover {
    background-color: var(--dark-color);
} */

header nav ul li ul {
    display: none;
    position: absolute;
    top: 35px;
    background-color: var(--light-color);
}

header nav ul li:hover ul {
    display: block;
}

header nav ul li ul li {
    display: block;
}

header nav ul li ul li a {
    display: block;
    padding: 1rem;
}

header nav ul li ul li a:hover {
    background-color: var(--dropdown-background);
}


/* main section*/


main {
    margin-top: 150px;
    margin-left: 20%;
    width: 60%;
}

section {
    display: inline-flex;
}

section .left {
    margin: 2rem;
}

section .right {
    margin: 2rem;
    padding: 1rem;
}

section img {
    border-radius: 50%;
    border: 2px solid var(--dark-color);
    width: 200px;
    height: 200px;
    box-shadow: 5px 15px 15px var(--dark-color);
}

/* contact form */

input[type=text], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid var(--dark-color);
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

/* contact form submit button  */

input[type=submit] {
    background-color: var(--dark-color);
    color: var(--light-color);
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
  }

/* footer */

footer {
    margin-top: 2rem;
    width: 100%;
    height: 150px;
    background-color: var(--dark-color);
    padding: 2rem;
    position: relative;
}

footer div.name {
    padding: 2rem;
}

footer p {
    color: var(--light-color);
    /* padding: 2rem; */
}

/* button to scroll back to the top of the page  */

.scroll-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
}

.scroll-top i:hover {
    cursor: pointer;
}

.scroll-top i {
    color: var(--dark-color);
    background-color: var(--light-color);
    width: 3rem;
    height: 3rem;
    font-size: 1rem;
    padding: 1rem 1rem;
    border-radius: 5px;
}
@media (max-width: 768px) {
    header .icon {
        display: none;
    }
    h1, h2 {
        text-align: center;
    }
    p {
        font-size: 1rem;
    }
    section {
        display: inline;
    }

    section img {
        width: 250px;
        height: 250px;
        border-radius: 4px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 576px) {
    header .icon {
        display: block;
    }

    header nav ul {
        display: none;
        position: absolute;
        top: 100px;
        left: 0;
        background-color: var(--dropdown-background);
        width: 100%;
    }

    header nav ul.mobilemenu {
        display: block;
    }

    header nav ul li {
        display: block;

    }

    header nav ul li a {
        display: block;
        padding: 1rem;
    }

    header nav ul li ul {
        visibility: visible;
        opacity: 1;
        position: relative;
        display: block;
        top: 0;
        padding-left: 1rem;
    }


    /* main section  */

    section {
        display: inline;
    }
}