* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

:root {
    --background-color: #f6f6f6;
    /* --background-light: #b00de2; */
    /* --dropdown-background: #dc75fb; */
    /* --background-image: linear-gradient(to right, purple, violet); */
    --light-color: #FFF;
    --dark-color: #333;
}


body {
    font-family: "PT Sans", helvetica, sans-serif;
    background-color: var(--background-color);
}

a {
    color: var(--dark-color);
    text-decoration: none;
}

h1 span {
    border-bottom: 2px solid var(--dark-color);
}

h2 span {
    border-bottom: 2px solid var(--dark-color);
}

header {
    background-color: var(--background-color);
    color: var(--dark-color);
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 2px solid transparent;
    box-shadow: 2px 2px 2px var(--dark-color);
}

header .logo p {
    font-size: 2rem;
}

header .icon {
    display: none;
}

header nav ul {
    position: relative;
}

header nav ul li {
    display: inline-block;
    list-style-type: none;
}

header nav ul li a {
    padding: 1rem;
}

header nav ul li a:hover {
    background-color: var(--background-light);
}

header nav ul li ul {
    display: none;
    position: absolute;
    top: 35px;
    background-color: var(--background-light);
}

header nav ul li:hover ul {
    display: block;
}

header nav ul li ul li {
    display: block;
}

header nav ul li ul li a {
    display: block;
    padding: 1rem;
}

header nav ul li ul li a:hover {
    background-color: var(--dropdown-background);
}

/* mobile menu  */


main {
    margin-top: 150px;
    margin-left: 15%;
    width: 70%;
}

section {
    min-height: 25vh;
    display: flex;
}

section .left {
    margin: 2rem;
}

section .right {
    margin: 2rem;
    padding: 1rem;
}

section img {
    border-radius: 50%;
    border: 2px solid var(--dark-color);
    width: 200px;
    height: 200px;
    box-shadow: 5px 15px 15px var(--dark-color);
}

@media (max-width: 576px) {
    header .icon {
        display: block;
    }

    header nav ul {
        display: none;
        position: absolute;
        top: 100px;
        left: 0;
        background-color: var(--dropdown-background);
        width: 100%;
    }

    header nav ul.mobilemenu {
        display: block;
    }

    header nav ul li {
        display: block;

    }

    header nav ul li a {
        display: block;
        padding: 1rem;
    }

    header nav ul li ul {
        visibility: visible;
        opacity: 1;
        position: relative;
        display: block;
        top: 0;
        padding-left: 1rem;
    }
}

/* button to scroll back to the top of the page  */

.scroll-top {
    display: flex;
    justify-content: flex-end;
}

.scroll-top button:hover {
    cursor: pointer;
}

.scroll-top i {
    color: var(--dark-color);
    background-color: var(--light-color);
    width: 3rem;
    height: 3rem;
    font-size: 1rem;
    padding: 1rem 1rem;
    border-radius: 5px;
}